body {
  position: relative;
}

.header {
  padding: 50px;
  background: linear-gradient(52deg, #051528 0%, #0b1444 40%, #1864c2 100%);
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 38pt;
  color: black;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20pt;
  font-weight: 700;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24pt;
  font-weight: 500;
}

h2,
h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 20px;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 16pt;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 13pt;
  color: black;
  font-weight: 400;
}

.text-white {
  color: white;
}

/** Pieni teksti */
.small {
  font-size: 10pt;
}

/** Ingressiteksti */
.profile {
  font-size: 14pt;
  color: rgb(44, 44, 44);
  font-weight: 500;
}

/* Linkkityylit */
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #1864c2;
}

a:active {
  color: #1864c2;
}

/* Horisontaalinen viiva */
hr {
  max-width: 85px;
  height: 10px;
  background-color: #1864c2;
  opacity: 1;
}

.tyonkuva {
  font-size: 12pt;
  max-width: 600px;
}

/** Back to top -painike */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  border-radius: 50%;
  background-color: white;
  color: black;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#btn-back-to-top:hover {
  background-color: #1864c2;
  color: white;
}

/* Container */
.container {
  max-width: 1050px;
}

/** Navigaatio */
.navbar {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 15pt;
  background-color: white;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.112);
}

.navbar-nav .nav-link.active {
  color: #1864c2;
}

.nav-link:hover {
  color: #1864c2;
}

/** Video */
.video {
  box-shadow: -10px 10px 0 2px #0d1c2f;
}

/** Timeline */
.timeline {
  border-left: 3px solid rgb(201, 201, 201);
  position: relative;
  list-style: none;
}

.timeline .timeline-item {
  position: relative;
  top: -5px;
}

.timeline .timeline-item:after {
  position: absolute;
  display: block;
  top: 38px;
}

.timeline .timeline-item:after {
  background-color: white;
  left: -43.5px;
  border-radius: 50%;
  border-color: rgb(201, 201, 201);
  border-width: 3px;
  border-style: solid;
  height: 20px;
  width: 20px;
  content: "";
}
